*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    display: block;
    padding: 12px 16px;
    text-align: center;
    background-color: #9cc018;
    color: white;
    box-shadow: 0 0 5px #bdbdbd;
}
.content{
    background-color: white;
    padding: 20px;
}
table{
    width: 90%;
    border: none;
    margin-bottom: 16px;
    width: 100%;
    box-shadow: 0 0 5px #bdbdbd;
}
td, th{
    padding: 4px 0px 4px 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
table th{
    border-bottom: 3px solid #cdcdcd;
    text-transform: uppercase;
}
td{
    border-bottom: 1px solid #cdcdcd;
}
td a{
    color: black;
    text-decoration: none;
}
td a:hover{
    color: #9cc018;
}
.table-gia{
    color: rgb(255, 52, 52);
    font-weight: bold;
}
.table-soluong input[type=number]{
    width: 120px;
    padding: 0px 4px;
}
input[type=submit]{
    margin-top: 20px;
    padding: 8px 16px;
    background-image: linear-gradient(#bae422, #9cc018);
    box-shadow: 3px 3px 5px rgb(211, 211, 211);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.table-xoa{
    border: none;
    width: 150px;
}
.diachi{
    width: 200px;
}
.table-xoa button{
    width: 40px;
    outline: none;
}
td.ghiChu{
    min-width: 200px;
}
.table-anh img{
    width: 70px;
    height: 70px;
}
.table-tensp{
    width: 30%;
}
.form-themmoi{
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 5px #bdbdbd;
}
.form-themmoi label ,.form-themmoi input,textarea,.form-themmoi select{
    margin-top: 12px;
}
label{
    display: block;
    float: left;
    width: 25%;
    font-weight: bold;
}
.form-themmoi input,textarea, select{
    max-width: 50%;
    width: 80%;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 3px solid #cdcdcd;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;;
    border-radius: 3px;
}
input[type=text]:focus {
    border: 3px solid #8f8f8f;
}
tr .tinhTrangHoaDon select{
    padding: 2px;
    border: 1px;
    width: 200px;
}
button{
    clear: both;
    margin-top: 20px;
    padding: 10px 12px;
    border-radius: 3px;
    background-image: linear-gradient(#bae422, #9cc018);
    box-shadow: 3px 3px 5px rgb(179, 179, 179);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;

}
button:hover{
    background-image: linear-gradient( #9cc018, #c4ee2e);
    transition: 0.5s;
    
}

